# Configurações do Banco de Dados PostgreSQL
POSTGRES_USER=coema_user
POSTGRES_PASSWORD=coema_password
POSTGRES_DB=coema_db

# String de conexão do SQLAlchemy
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5433/${POSTGRES_DB}
